/* impostazioni generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #cbcbcb;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* css div centrato */
.center{
    width: 80%;
    margin: 10px auto;
    /* impo debug */
    /* height: 500px;
    background-color: blueviolet; */
}

/* header */
#logo img{
    height: 70px;
    width: auto;
    padding-right: 30px;
    border-right: 2px solid #cbcbcb;
}
#main-menu{
    margin-top: 25px;
}
#main-menu li{
    display: inline-block;
}
#main-menu a{
    text-decoration: none;
    color: #cbcbcb;
    font-size: 16px;
    font-weight: 100;
    margin-right: 20px;
}


/* section jumbotron */
#jumbotron{
    margin: 25px 0;
    border-radius: 10px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}
.overlay{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}
.title{
    color: #fff;
    width: 65%;
    padding: 350px 50px 0;
    /* font-weight: 300; */
    font-size: 15px;
}
.title h2{
    /* font-weight: 300; */
    font-size: 28px;
}



/* main */
.section-main{
    margin-bottom: 5px;
    /* impo debug */
    padding-bottom: 10px;
    background-color: dodgerblue;
    /* height: 250px; */
}

.main-top{
    margin-bottom: 20px;
    font-size: 22px;
    /* font-weight: 300; */
    /* impo debug */
    background-color: cadetblue;   
}
.main-top h1{
    font-weight: 600;
    font-size: 40px;
    color: #000;
}

/* sezione colonne del main */
.aside-box{
    float: left;
    width: 20%;
    /* impo debug */
    background-color: cadetblue;
}
/* .aside-top-img{
    width: 100%;
} */
.aside-top-img img{
    width: 100%;
    border-radius: 15px;
}
.aside-bottom-conten{
    margin: 15px 0;
    font-weight: 100;
}
.aside-bottom-conten h4{
    margin-bottom: 7px;
}



.main-center{
    float: left;
    width: 56%;
    margin: 0 2%;

    /* impo debug */
    height: 200px;
    background-color: cadetblue;
}

/* footer */
.section-footer{
    width: 100%;

    /* impo debug */
    background-color: blueviolet;
    height: 25px;    
}